* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: "Quicksand", Arial, sans-serif;
}
#col-1 {
  display: flex;
  flex-direction: column;
  background: #D7E8D4;
  flex: 1;
  min-width: 20%; }

#col-2 {
display: flex;
flex-direction: column;
flex: 5;
background: #F5F5;
}

#base-aside{
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1001;
  background: #fff; }
  #base-aside #main-menu ul {
    text-align: right;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 768px) {
      #base-aside #main-menu ul {
        margin: 0 0 2em 0; } }
    #base-aside #main-menu ul li {
      margin: 0 0 15px 0;
      padding: 0;
      list-style: none;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px; }
      #base-aside #main-menu ul li a {
        color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        position: relative;
        padding: 10px 0;
        font-family: "Quicksand", Arial, sans-serif; }
        #base-aside #main-menu ul li a:after {
          content: "";
          position: absolute;
          height: 1px;
          bottom: 7px;
          left: 0;
          right: 0;
          background-color: #000;
          visibility: hidden; }
        #base-aside #main-menu ul li a:hover {
          text-decoration: none;
          color: black; }
          #base-aside #main-menu ul li a:hover:after {
            visibility: hidden; }
      #base-aside #main-menu ul li.menu-item-active a {
        color: #000; }
        #base-aside #main-menu ul li.menu-item-active a:after {
          visibility: visible; }
  #base-aside .footer {
    position: absolute;
    bottom: 40px;
    right: 1.5em;
    left: 1.5em;
    font-size: 15px;
    text-align: right;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 20px; }
    @media screen and (max-width: 768px) {
      #base-aside .footer {
        position: relative;
        bottom: 0; } }
    #base-aside .footer span {
      display: block; }
    #base-aside .footer ul {
      padding: 0;
      margin: 0; }
      #base-aside .footer ul li {
        padding: 0;
        margin: 0;
        display: inline;
        list-style: none; }
        #base-aside .footer ul li a {
          color: rgba(0, 0, 0, 0.7);
          padding: 4px; }
          #base-aside .footer ul li a:hover, #base-aside .footer ul li a:active, #base-aside .footer ul li a:focus {
            text-decoration: none;
            outline: none;
            color: #F75940; }


.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 4;
  min-height: 80vh;
}
header {
  background: yellowgreen;
  height: 10vh;
}

#article {
  display: flex;
  flex-direction: row;
  flex: 4;
  background: #F5F5F5;
  min-height: 80vh;
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
}

header, nav {
  padding: 1em;
}
